/*App.js*/
.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 auto;
  max-width: 60%;
}

.App-header {
  margin: 40px 0;
  align-items: center;
  text-align: center;
}
.App-logo {
  max-width: 80px;
  padding: 10px 0;
}

h1 {
  color: var(--first-color);
  font-weight: 1000;
  font-size: 35px;
}

main {
  background-color: var(--second-color);
  border-radius: 5px;
  padding: 5px 25px 80px 25px;
  flex: 1;
}


footer {
  position: fixed;             /* stay in place */
  bottom: 0;                   /* stick to the bottom edge */
  left: 0;
  width: 100%;                 /* span full width */
  background-color: var(--second-color);
  text-align: center;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* subtle line */
  z-index: 100;                /* ensures it stays above content */
}

a {
  color: var(--fourth-color);
}

section {
  background-color: var(--third-color);
  border-radius: 5px;
  padding: 10px 25px 25px 25px;
  margin: 10px;
}

footer p {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .App {
    margin: 0 auto;
    max-width: 99%;
  }
  .App-logo {
    max-width: 50px;
    padding: 5px 0;
  }
  h1 {
    font-size: 25px;
  }
}
html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

