.synonym-button {
  text-align: left;
}
.synonym-button input {
  padding: 4px 8px;
  border-radius: 5px;
  border: none;
  margin: 4px 4px;
  color: var(--third-color);
  transition: all 150ms ease-in-out;
  background-color: var(--first-color);
  font-weight: bold;
}
.synonym-button input:hover,
.api-success {
  background-color: var(--fourth-color);
}
.synonyms form {
  display: inline;
  font-size: 14px;
}
.synonyms span {
  color: var(--first-color);
  font-weight: bold;
}
input:hover:disabled,
.synonym-button :disabled,
.api-error {
  background-color: var(--sixth-color);
}
