/*App.js*/
.App {
  margin: 0 auto;
  max-width: 60%;
}
.App-header {
  margin: 40px 0;
  align-items: center;
  text-align: center;
}
.App-logo {
  max-width: 80px;
  padding: 10px 0;
}

h1 {
  color: var(--first-color);
  font-weight: 1000;
  font-size: 35px;
}

main {
  background-color: var(--second-color);
  border-radius: 5px;
  padding: 5px 25px 15px 25px;
}

footer {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
  background-color: var(--second-color);
  padding: 20px 0;
  border-radius: 5px;
}
a {
  color: var(--fourth-color);
}

section {
  background-color: var(--third-color);
  border-radius: 5px;
  padding: 10px 25px 25px 25px;
  margin: 10px;
}
header {
  background-color: var(--third-color);
}

footer p {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 900px) {
  .App {
    margin: 0 auto;
    max-width: 99%;
  }
  .App-logo {
    max-width: 50px;
    padding: 5px 0;
  }
  h1 {
    font-size: 25px;
  }
}
