/*App.js*/

.App {
  text-align: center;
}

.App-header {
  margin: 40px 0;
  align-items: center;
}
.App-logo {
  max-width: 80px;
  padding: 10px 0;
}

h1 {
  color: var(--fourth-color);
  font-weight: 1000;
  font-size: 35px;
}

footer {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
}
