/*App.js*/

.App-header {
  margin: 40px 0;
  align-items: center;
  text-align: center;
}
.App-logo {
  max-width: 80px;
  padding: 10px 0;
}

h1 {
  color: var(--first-color);
  font-weight: 1000;
  font-size: 35px;
}

footer {
  text-align: center;
  margin: 30px 0;
  font-size: 14px;
}

@media (max-width: 900px) {
  .App-logo {
    max-width: 50px;
    padding: 5px 0;
  }
  h1 {
    font-weight: 1000;
    font-size: 25px;
  }
}
