/*Dictionary.js*/

.Dictionary {
  margin: 20px 0;
}
.search-form {
  text-align: center;
  margin: 0 10px;
}

input {
  border-radius: 0;
}
.search-button {
  background-color: var(--first-color);
  color: var(--third-color);
  border-style: hidden;
  padding: 4px 8px;
  border-radius: 20px;
  margin: 0 5px;
transition: all 150ms ease-in-out;
}
.search-button:hover {
  background-color: var(--fourth-color);
}
.grid {
  display: grid;
  grid-gap: 15px;
}
.grid-2-col {
  grid-template-columns: 3fr 1fr;
}
