:root {
  --first-color: #66bfbf;
  --second-color: #eaf6f6;
  --third-color: #fcfefe;
  --fourth-color: #f76b8a;
}

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
