:root {
  --first-color: #66bfbf;
  --second-color: #eaf6f6;
  --third-color: #fcfefe;
  --fourth-color: #f76b8a;
  --fifth-color: #272044;
}

body {
  color: var(--fifth-color);
  margin: 0;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
}
main {
  background-color: var(--second-color);
  border-radius: 5px;
  padding: 5px 25px 15px 25px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
section {
  background-color: var(--third-color);
  border-radius: 5px;
  padding: 10px 25px 25px 25px;
  margin: 10px;
}
header {
  background-color: var(--third-color);
}
