.synonym-button {
  text-align: left;
}
.synonym-button input {
  padding: 0;
  border: none;
  margin-right: 8px;
  background: none;
  transition: all 150ms ease-in-out;
  color: var(--fourth-color);
  font-weight: bold;
  text-decoration: underline;
}
